<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Dose</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/all.min.css">
</head>

<body>
    <main>
        <div class="contact_us main-div-login">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <h3>KOVID 19</h3>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link"
                                    href="profile.html">Profile</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="service.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="test_option.html">Test</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="new_dose.html">Dose</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact_doc.html">Contact Doctor</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="login.html">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="page">
                <h3 class="table_heading_3 head-fog">Your reservation list </h3>
                <table class="layout display responsive-table">
                    <thead>
                        <tr>
                            <th class="t_name_col_width ">Test name</th>
                            <th class="t_date_col_width ">Date</th>
                            <th class="t_time_col_width">Time</th>
                            <th class="t_time_col_width">Address</th>
                            <th class="t_actions_col_width ">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="t_name_col_width ">Antigen</td>
                            <td class="t_date_col_width ">2022-08-11</td>
                            <td class="t_time_col_width ">21:17</td>
                            <td class="t_time_col_width ">giza</td>
                            <td class="t_action_col_width">
                                <button class="btn btn-primary mb-3 submit table_button"> Edit </button>
                                <button class="btn btn-primary mb-3 submit table_button"
                                    style="background-color:red">Remove </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_name_col_width ">X-ray</td>
                            <td class="t_date_col_width ">2022-08-11</td>
                            <td class="t_time_col_width ">17:21</td>
                            <td class="t_time_col_width ">cairo hcc</td>
                            <td class="t_action_col_width">
                                <button class="btn btn-primary mb-3 submit table_button"> Edit </button>
                                <button class="btn btn-primary mb-3 submit table_button"
                                    style="background-color:red">Remove </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_name_col_width ">Antigen</td>
                            <td class="t_date_col_width ">2022-05-14</td>
                            <td class="t_time_col_width ">14:52</td>
                            <td class="t_time_col_width ">tanta</td>
                            <td class="t_action_col_width">
                                <button class="btn btn-primary mb-3 submit table_button"> Edit </button>
                                <button class="btn btn-primary mb-3 submit table_button"
                                    style="background-color:red">Remove </button>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </main>

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/file.js"></script>
    <script src="../js/all.min.css"></script>
</body>

</html>