<!-- Badawy -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/all.min.css">
</head>

<body>
    <main>
        <div class="main-div-login">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <h3>KOVID 19</h3>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link active" href="service.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="test_option.html">Test</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="new_dose.html">Dose</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact_doc.html">Contact Doctor</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="login.html">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="service-page">
                <div class="container text-center">
                    <h2 class="head-cards h1 py-5">Welcome To Our Services</h2>
                    <div class="row">
                        <!-- {{-- Card Dase --}} -->
                        <div class="col-md-4">
                            <div class="card px-2 py-2 mb-5">
                                <div class="card-img">
                                    <img src="../images/service/Vaccine.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Corona Vaccine Reservation</h4>
                                    <p class="card-text lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Sit
                                        laboriosam deserunt dicta necessitatibus ullam. </p>
                                </div>
                                <div class="card-body">
                                    <a href="new_dose.html" class="card-btn btn btn-front mb-3 py-2">Book Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- {{-- Card Test --}} -->
                        <div class="col-md-4">
                            <div class="card px-2 py-2 mb-5">
                                <div class="card-img">
                                    <img src="../images/service/test.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Reserve PCR Analysis</h4>
                                    <p class="card-text lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Sit
                                        laboriosam deserunt dicta necessitatibus ullam. </p>
                                </div>
                                <div class="card-body">
                                    <a href="test_option.html" class="card-btn btn btn-front mb-3 py-2">Book Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- {{-- Card Contact --}} -->
                        <div class="col-md-4">
                            <div class="card px-2 py-2 mb-5">
                                <div class="card-img">
                                    <img src="../images/service/contact-Doctor.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Contact With Doctor</h4>
                                    <p class="card-text lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Sit
                                        laboriosam deserunt dicta necessitatibus ullam. </p>
                                </div>
                                <div class="card-body">
                                    <a href="contact_doc.html" class="card-btn btn btn-front mb-3 py-2">Contact
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/file.js"></script>
    <script src="./js/all.min.css"></script>
</body>

</html>