<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/all.min.css">
</head>

<body>
    
    <main>
        
        <div class="home-page">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#"><h3>KOVID 19</h3>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="active nav-link" href="welcome.html">Home</a>
                            </li>
        
                            <li class="nav-item">
                                <a  class="nav-link" href="login.html">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="register.html">Register</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="home-content">
                            <h1 class="heading">
                                <span>CORONA</span>
                                <span class="heading-sm">
                                    <span class="sup">COVID-19</span>
                                    <span class="sub">VIRUS</span>
                                </span>
                            </h1>
                            <p class="lead">
                                The Coronavirus (COVID-19) was first reported in Wuhan, Hubei, China in December 2019, the outbreak was later recognized as a pandemic by the World Health Organization (WHO) on 11 March 2020.
                            </p>
                            <a href=""><button class="btn btn-primary protect-btn">Protect Your Self Now <i class="fa-solid fa-shield-virus"></i></button></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="home-image">
                            <img src="../images/new image/welcome2.png" class="img-fluid"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/file.js"></script>
    <script src="../js/all.min.css"></script>
</body>

</html>

